<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-label>
          <h2>Call</h2>
      </ion-label>
    </ion-toolbar>
</ion-header>

<ion-content>
  <h2>1. Start your Webcam</h2>
  <div class="videos">
    <span>
      <h3>Local Stream</h3>
      <video #webcamVideo autoplay playsinline></video>
    </span>
    <span>
      <h3>Remote Stream</h3>
      <video #remoteVideo autoplay playsinline></video>
    </span>


  </div>

  <ion-button #webcamButton (click)="start()">Start webcam</ion-button>
  <h2>2. Create a new Call</h2>
  <ion-button #callButton disabled (click)="call()">Create Call (offer)</ion-button>

  <h2>3. Join a Call</h2>
  <p>Answer the call from a different browser window or device</p>

  <input #callInput />
  <ion-button #answerButton disabled (click)="answer()">Answer</ion-button>

  <h2>4. Hangup</h2>

  <ion-button #hangupButton disabled>Hangup</ion-button>
</ion-content>