<ion-content [fullscreen]="true">

  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-button (click)="loginWithGoogle($event)">Google</ion-button>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col size="12">
          <ion-button (click)="loginWithGithub($event)">Github</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button (click)="loginWithTwitter($event)">Twitter</ion-button>
        </ion-col>
      </ion-row> -->
    </ion-grid>
  </div>
</ion-content>
